<h1><%= @user.user_name_first %>'s Information</h1>

<h5>User Full Name:<%=@user.user_name_first%> <%=@user.user_name_last%></h5>


<h5>User Email:<%=@user.user_email%></h5>

<h5>User Zip:<%=@user.user_zip%></h5>


<p><%= link_to "Edit this user", edit_user_path(@user) %></p>

<p><%= link_to "Go back to list of users", users_path %></p>


<!-- <p>Editing in the flake functionality</p> -->


<%if @user.events.any?%>

<h3><%= @user.user_name_first %> has signed up for these events: </h3>
<ul>
  <%@user.events.each do |event| %>

  <li> <%=event.event_name %>

    <% if current_user.id == @user.id %>
    <%= form_for "flake", :url => {:action => "remove"} do |f| %>
    <%= f.hidden_field :event_id, :value => event.id %>
    <%= f.submit "Flake on this event" %></li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
  <% else %>

  <p>This user has not signed up for any events</p>

  <% end %>
