<h1> Create Event </h1>
<%= form_for [ @event ] do |f| %>
<%= f.hidden_field :user_id, :value => @id %>
<%= f.label "Name your Event" %>
<%= f.text_field :event_name %>
<%= f.label "Date" %>
<%= f.date_field :event_date %>
<%= f.label "Time" %>
<%= f.time_field :event_time %>
<%= f.label "Description" %>
<%= f.text_field :event_description %>


<%= f.select(:event_category, options_for_select([['Party', 1], ['Games', 2], ['Movie', 3], ['Child-Friendly', 4], ['Study-Group', 5]])) %>

<%= f.label "Street address" %>
<%= f.text_field :event_address %>
<%= f.label "City" %>
<%= f.text_field :event_city %>
<%= f.label "State" %>
<%= f.text_field :event_state %>
<%= f.label "Zip Code" %>
<%= f.number_field(:event_zip, in: 97201..97299, step: 1.0) %>
<%= f.label "Age Requirement" %>
<%= f.number_field(:event_age_min, in: 0..100, step: 1.0) %>
<%= f.label "Minimum People Allowed to Attend" %>
<%= f.number_field(:event_min_seats, in: 0..1000, step: 1.0) %>
<%= f.label "Maximum People Allowed to Attend" %>
<%= f.number_field(:event_max_seats, in: 1..1000, step: 1.0) %>
<%= f.submit "Create" %>
<% end %>
