<div class="signin_form">

  <h1> Sign in</h1>


  <%= form_tag signin_path do %>
    <%= label_tag :user_email  %>
    <%= text_field_tag :user_email %>

    <%= label_tag :password  %>
    <%= password_field_tag :password %>
    <div id="signin_button">

      <%= submit_tag "Sign in", class: "signin_form_button" %>
    </div>
  <% end %>

</div>

