<div class="signin_form">

  <h1> Sign in</h1>

  <%= form_for :user, :url => '/signin' do |f|%>
    <%= f.label :user_email, class: 'signin_form_labels'  %>
    <%= f.text_field :user_email, class: 'signin_form_inputs' %>

    <%= f.label :password, class:'signin_form_labels'  %>
    <%= f.password_field :password, class: 'signin_form_inputs' %>
    <div id="signin_button">

      <%= f.submit"Sign in", class: 'signin_form_button' %>
    </div>
  <% end %>

</div>
