<!DOCTYPE html>
<html>
  <head>
    <title>Neighborly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<br><br><br><br>

    <% if current_user %>
   Welcome back, <%= current_user.user_email %> | <%= link_to "Sign out", '/signout' %>
 <% else %>
   <%= link_to "Sign up", signup_path %> | <%= link_to "Sign in", '/signin' %>
 <% end %>
<div class="flash_messages">
  <%= flash[:alert] %>
  <%= flash[:notice] %>

</div>


    <%= yield %>
  </body>
</html>
