<!DOCTYPE html>
<html>
<head>
  <title>Neighborly</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="app/assets/stylesheets/styles.scss">
</head>

<body>

  <div class="header">
    <!-- Bird HTML -->
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>


    <%= image_tag("neighborly_logo_house.png", class: "NBanner", alt: "Neighborly Logo") %>

    <div class="nav_bar">
      <% if current_user %>
      <h3>Welcome back, <%= current_user.user_email %> | <%= link_to "Sign out", '/signout', class: "btn btn-danger" %>  | <a href="/events" class="btn btn-info">All Events</a></h3>
      <% else %>
      <%= link_to "Sign up", signup_path, class: "btn btn-success" %> | <%= link_to "Sign in", '/signin', class: "btn btn-info" %>
      <% end %>




      <% if session["user_id"] != nil %>
      <%= render "layouts/search_form" %>
      <% end %>


    </div>

    <br><br><br><br><br><br>
    
    <div class="flash_messages">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>

  </div>

  <div class="yield">
    <%= yield %>
  </div>


  <div>
    <% if current_user %>
    <%= render "layouts/driveby_small" %>
    <% else %>
    <%= render "layouts/driveby_large" %>
    <% end %>
  </div>
</body>
</html>
